.SearchFilter {
  display: flex;
  gap: 10px;
  padding: 13px 14px 13px 14px;
  background-color: var(--e-global-color-7e84885);
  border-radius: 100px 100px 100px 100px;
  box-shadow: 0px 4px 37px 0px rgb(11 6 30 / 16%);
  background: white;
  align-items: center;
  input {
    font-family: "Neue Haas Unica", Sans-serif;
    color: #265573;
  }
  button {
    margin: 0 0 0 auto;
  }
  & :global {
    select {
      font-size: 18px;
      flex-grow: 1;
      option {
        font-size: 18px;
      }
    }
    select {
      background-image: url('../../public/images/dropdown.svg');
      background-repeat: no-repeat;
      background-position: center right;
      border: none;
      appearance: none;
      border-right: 1px solid #9DABB4;
      color: #93AAB9;
      padding: 0px 10px;
      background-position: 95% center;
      height: 35px;
      font-size: 18px;
      max-width: 250px;
      border-radius: 0;
      &:nth-child(1) {
        /* max-width: 200px; */
      }
    }
    @media (max-width: 1024px) {
      max-width: 600px;
      margin: 0 auto;
      border-radius: 30px;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      select {
        border: none;
        border-bottom: 1px solid #9DABB4;
        width: 100%;
        max-width: none;
        border-radius: 0;
      }
      button {
        margin: 0;
      }
    }
  }
}