.SearchResults {
  .view-all {
    background: #6a57b6;
    color: white;
    border-radius: 100px 100px 100px 100px;
    padding: 14px 24px 14px 24px;
    border: none;
    outline: none;
    margin: 0 0 0 auto;
    cursor: pointer;
    &:hover,
    &:focus {
      background: #30253f;
    }
  }
  & :global {
    h5 {
      font-size: 24px;
      font-weight: 300;
      color: #0c2c41;
      font-family: "TT Ramilas", serif !important;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
    }
    td,
    th {
      border: none;
      padding: 18px 10px;
      border-top: none !important;
      border-bottom: 1px solid #cfd5d9;
    }
    thead {
      th {
        color: #30253f;
        font-weight: 500;
        font-size: 20px;
        text-align: left;
      }
    }
    tbody {
      td {
        color: #c87777;
        a {
          text-decoration: none;
          color: #6a57b6;
          font-size: 16px;
        }
      }
    }
    div:last-child {
      margin: 60px 0 0 0;
      text-align: center;
    }
  }
}
