body {
  margin: 0;
  padding: 0;
}

#SHSSApp {
  font-family: "Neue Haas Unica", Sans-serif;
  color: #265573;

  .heading {
    font-family: "TT Ramilas", Sans-serif;
    font-size: 64px !important;
    margin: 0 0 18px 0;
    color: #0c2c41;
  }
}
