@import "fonts";

.App {
  color: #265573;
  section {
    padding: 80px 30px;
    .container {
      max-width: 945px;
      margin: 0 auto;
    }
  }
  & :global {
    .narrow {
      max-width: 580px;
      margin: 0 auto 30px;
    }
  }
}

p {
  font-size: 20px;
}

.top {
  background-color: #dff4ef;
  text-align: center;
  h2, h3 {
    font-family: "TT Ramilas", Sans-serif;
    color: #0c2c41;
  }
  h2 {
    font-size: 60px !important;
    margin: 0 0 20px 0;
  }
  h3 {
    font-size: 24px !important;
    margin: 30px 0 20px 0;
  }
  p {
    margin: 0;
  }
}

.bottom {
  background-color: white;
}

