@import "fonts";

.label {
  font-size: 16px;
  font-weight: bold;
}

.search__input {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.contact__item {
  margin: 5px 0;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}
